<%- include('partials/header') -%> <!--the header from header.ejs-->

<main class="mainFeed">
    <div>
        <section class="secFeed">
          <div class="containerFeed">
            <div class="aboutFeed">
              <div>
                <h1>View the current available open transporation sapce from other agents. If you would like to add your shipment to one of the below add a comment!</h1>
              </div>
              <div>
                <img class="imageFeed" src="/images/Web_capture_5-10-2022_214719_-removebg-preview.png">
              </div>
            </div>
            <div class="card w-96 bg-neutral text-neutral-content cardFeed">
              <ul class="card-body items-center text-center">
                <% for(var i=0; i<posts.length; i++) {%>
                  <li class="listCard">
                    <a href="/post/<%= posts[i]._id %>">
                    <h2><%= posts[i].title %></h2>
                    <h2> <%= posts[i].department %></h2>
                    <h2> <%= posts[i].carrier %></h2>
                    <h2> <%= posts[i].destination %></h2>
                    <h2> <%= posts[i].ttype %></h2>
                    <h2> <%= posts[i].ltime %></h2>
                    <h2> <%= posts[i].transit %></h2>
                    <h2> <%= posts[i].special %></h2>
                    </a>
                  </li>
                <% } %>
                </ul>
            </div>
          </div>  
        </section>
    </div>
</main>



<%- include('partials/footer') -%>