

<%- include('partials/header') -%>
<div class="containerPost">
  <div class="card card-compact w-96 bg-base-100 shadow-xl divLogin">
    <div class="card-body">
      <h2><%= post.title %></h2>
      <div class="row justify-content-between">
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="card w-96 glass">
        <p>Company:  <%= post.title %></p>
        <p>Dep:  <%= post.department %></p>
        <p>Carrier:  <%= post.carrier %></p>
        <p>Dest:  <%= post.destination %></p>
        <p>Load Type:  <%= post.ttype %></p>
        <p>Date/Time:  <%= post.ltime %></p>
        <p>Transit Time:  <%= post.transit %></p>
        <p>Special:  <%= post.special %></p>
    </div>
    <div class="mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control input input-bordered input-accent w-full max-w-xs" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-outline btn-info" value="Upload">Submit</button>
      </form>
    </div>
    <div>
      <ul> 
        <% for(var i=0; i<comments.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <%= comments[i].comment%> 
            </a>
          </li>
        <% } %>
      </ul>
    </div>
    
  </div>
  <div class="col-6 mt-5">
    <a class="btn btn-outline btn-info" href="/profile">Return to Profile</a>
    <a class="btn btn-outline btn-info" href="/feed">Return to Feed</a>
  </div>
</div>

<%- include('partials/footer') -%>
