

<%- include('partials/header') -%>
<div class="containerProfile">
  <div class="divRow">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn btn-outline btn-info">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost"  method="POST">
              <div class="mb-3">
                <label for="title" class="form-label">Company</label>
                <input type="text" class="form-control input input-bordered input-accent w-full max-w-xs" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="department" class="form-label">Department</label>
              <textarea class="form-control input input-bordered input-accent w-full max-w-xs" id="department" name="department"></textarea>
            </div>
            <div class="mb-3">
              <label for="destination" class="form-label">Destination</label>
              <textarea class="form-control input input-bordered input-accent w-full max-w-xs" id="destination" name="destination"></textarea>
            </div>
            <div class="mb-3">
              <label for="carrier" class="form-label">Carrier</label>
              <textarea class="form-control input input-bordered input-accent w-full max-w-xs" id="carrier" name="carrier"></textarea>
            </div>
            <div class="mb-3">
              <label for="ttype" class="form-label">Truck Type</label>
              <textarea class="form-control input input-bordered input-accent w-full max-w-xs" id="ttype" name="ttype"></textarea>
            </div>
            <div class="mb-3">
              <label for="ltime" class="form-label">Date/Time of Loading</label>
              <textarea class="form-control input input-bordered input-accent w-full max-w-xs" id="ltime" name="ltime"></textarea>
            </div>
            <div class="mb-3">
              <label for="transit" class="form-label">Transit Time</label>
              <textarea class="form-control input input-bordered input-accent w-full max-w-xs" id="transit" name="transit"></textarea>
            </div>
            <div class="mb-3">
              <label for="special" class="form-label">Special</label>
              <textarea class="form-control input input-bordered input-accent w-full max-w-xs" id="special" name="special"></textarea>
            </div>
              <button type="submit" class="btn btn-outline btn-info" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="card w-96 bg-neutral text-neutral-content cardFeed">
        <ul class="card w-96 bg-neutral text-neutral-content">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="card-body items-center text-centers">
            <a href="/post/<%= posts[i]._id %>">
              <div class="listProfileCard">
                <p>Company: <%= posts[i].title %></p>
                <p>Dept: <%= posts[i].department %></p>
                <p>Dest: <%= posts[i].carrier %></p>
                <p>Carrier: <%= posts[i].destination %></p>
                <p>Truck Type: <%= posts[i].ttype %></p>
                <p>Date/Time: <%= posts[i].ltime %></p>
                <p>Transit Time: <%= posts[i].transit %></p>
                <p>Special: <%= posts[i].special %></p>
              </div>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-outline btn-info" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>